* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: lightslategray;
  height: 2000px;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
